@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #51A8B1;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    position: fixed;
    width: 100%;
   
}

.btn-edit{
    border: 1px solid;
    height: 100%;
}

.space {
    display: flex;
    align-items: center;
}
.toggle-btn {
    cursor: pointer;
    padding: 10px;
    z-index: 1; /* Menempatkan tombol di atas sidebar */
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.sidebar {
    border: solid 0 #51A8B1 ;
    color: #000000;
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: -200px;
    transition: left 0.3s ease;
    box-shadow: 0 0 5px #51A8B1;
}


.sidebar ul {
    margin-top: 50px;
    font-family: poppins;
    list-style: none;
}

.sidebar ul a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

.sidebar-links {
    font-family: poppins;
    margin-left: 20px;
    list-style: none;
    padding: 20px 0;
}

.sidebar-links li {
    display: flex;
    margin-left: 0;
    margin-bottom: 15px;
}

.btn-crud i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* td {
    position: relative;
}
 */

.profile-picture img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 30px;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 10px;
    width: 170px;
    top: 100%;
    right: 0;
    background-color: #51A8B1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1;
  
}

.profile-dropdown.active .dropdown-content {
    display: block;
}


.dropdown-content a {
    color: white;
    padding: 0 0 14px 16px ;
    text-decoration: none;
    display: block;
    font-size: 16px;
    
}

.dropdown-content a:hover {
    background-color: #E7F4EF;
}


.profile-dropdown .arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #ffffff transparent transparent transparent;
    transition: transform 0.3s ease; /* Menambahkan efek transisi */
    
    
}



.profile-dropdown.active .arrow {
    transform: translateY(-50%) rotate(-180deg);
}


.profile-picture:hover .arrow {
    display: block;
}


.content {
    margin-left: 0; /* Mengubah margin-left menjadi 0 */
    padding: 20px;
    
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    margin-right: 10px;
    padding: 8px;
    background-color: #E7F4EF;
    border: 1px solid #E7F4EF;
    border-radius: 20px;
}

.search-container button {
    padding: 8px 12px;
    background-color: #E7F4EF;
    border: 1px solid #51A8B1;
    border-radius: 20px;
    cursor: pointer;
}
.search-container button img{

    width: 70%;
}



.crud {
    display: inline-block;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #4caf4f00;
    border: 3px solid #51A8B1;
    border-radius: 5px;  
   

    
    
}




.crud:hover {
    background-color: #51a7b1a1; /* Warna latar belakang saat tombol dihover */
    border: none;
    color: #ffffff;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    
}

th {
    background-color: #E7F4EF;
    color: #000000;
    text-align: center;
}

tr:hover {
    background-color: #f5f5f5; /* Efek hover pada baris tabel */
}

/* UNTUK POP UP TAMBAH */
/* Styles for modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Styles for form elements */
form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #51A8B1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #51A8B1;
}

/* TAMBAH TUGAS */
.matkul {
    display: flex; /* Mengubah display menjadi flex */
    flex-direction: column; /* Menetapkan flex direction menjadi column */
    align-items: flex-start;
}

.matkul label {
    margin-bottom: 5px; /* Menambahkan margin bottom agar ada ruang antara label dan input */
}




/* Responsive styles */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Mengubah arah tata letak menjadi kolom */
        align-items: flex-start; /* Meletakkan elemen di ujung kiri */
    }

    .toggle-btn {
        margin-bottom: 10px; /* Memberikan margin bawah agar terpisah dari logo */
    }

    .sidebar {
        width: 100%;
        left: 0;
    }

    .content {
        margin-left: 0;
        

    }

    .toggle-btn.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle-btn.active .bar:nth-child(2) {
        opacity: 0;
    }

    .toggle-btn.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .search-container {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .search-container input {
        width: 60%; /* Sesuaikan lebar input sesuai kebutuhan */
    }

    .search-container button {
        width: 30%; /* Sesuaikan lebar tombol sesuai kebutuhan */
    }
}


