@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: poppins;
    margin: 0;
    padding: 0;

}
#bg-img {
    background-image: url('../img/back1.png');
    background-repeat: no-repeat;
    /* Tambahan properti untuk mengatur ukuran dan posisi background */
    background-size: cover; /* atau background-size: contain; */
    background-position: center center; 
}




.container {
    background-color: #51A8B1;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 50px auto;
   
 
}

.container2 {
    background-color: #fff;
    padding: 30px;
    border-radius: 50px 50px 15px 15px;
    width: 340px;
    text-align: center;
   
}

.display {
    display: flex;
}
.title{
    margin-left: 20px;
    padding-top: 25px;
}

.title h1{
    display: inline-block;
    margin: 0;
    font-size: 23px;
    color: #fff;
}

.logo img{
    height: 115px;
    width: 135px;
}

.container2 h2 {
    font-size: 20px;
    margin-bottom:  30px;
    text-align: center;
}

.input-group input{
    font-family: poppins;
    margin-bottom: 30px;
    height: 25px;
    border-radius: 10px;
    font-size: 15px;
}


label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 80%;
    padding: 10px;
    border: 1px solid #51A8B1;
    border-radius: 3px;
}

button {
    font-family: poppins;
    background-color: #51A8B1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
}

button:hover {
    opacity: 0.8;
}

a {
    color: #51A8B1;
    text-decoration: none;
    display: block;
    margin-top: 30px;
    font-size: 13px;
}



/*  DETAIL TUGAS */
.detail {
    max-width: 600px; /* Atur lebar maksimum detail sesuai kebutuhan Anda */
    text-align: left; /* Pusatkan teks ke kiri */
    padding-left: 30px; /* Berikan ruang di sekitar detail */
}

.buttons {
    max-width: 600px; /* Atur lebar maksimum detail sesuai kebutuhan Anda */
    text-align: left; /* Pusatkan teks ke kiri */
    padding-left: 10px; /* Berikan ruang di sekitar detail */
}

.kembali {
    display: inline-block;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #51A8B1;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.kembali:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }

    .container2 {
        width: 90%;
    }

    .logo img {
        height: 80px;
        width: 90px;
    }
}


